:root {
    --primaria: #3e4095;
    --secundaria: #00afee;
    --laranja: #f58634;
    --texto: #2f2f2f;
    --label-categoria: #d9c505
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'poppins', sans-serif;
}

#cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 65px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

#menu ul {
    display: flex;
    list-style: none;
}

#menu ul li {
    margin-left: 20px;
    margin-right: 20px;
}

#menu li a {
    color: var(--texto);
    font-weight: 500;
}

#botao-menu-mobile{
    display: none; 
}


.btn-secundario {
    background-color: var(--secundaria);
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    color: #ffffff;
}

#banner {
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    color: #ffffff;
    text-align: center;
    display: flex;
    align-items: center;
}

#banner p {
    margin: 10px;
}

#formPesquisa {
    background-color: #ffffff;
    color: var(--texto);
    font-size: 1.5em;
    border-radius: 30px;
}

#formPesquisa form {
    display: flex;
    align-items: center;
}

#formPesquisa form input {
    height: 40px;
    font-size: 1em;
    border: none;
}


#formPesquisa form i {
    padding: 10px;
    font-size: 1.2rem;
}

#formPesquisa button {
    background-color: var(--primaria);
    font-size: 1.2rem;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: #ffffff;

}

.lista-servicos-banner ul li {
    display: inline-block;
    margin: 10px;
    font-size: 0.8em;
    border: 1px dotted #ffffff;
    padding: 5px 20px;
    border-radius: 50px;
}

.secao-titulos {
    border-left: 5px solid var(--primaria);
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
}

.titulo {
    display: flex;
    justify-content: space-between;
}

.titulo a {
    color: var(--texto);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

.lista-card-categorias {
    display: flex;
    gap: 40px;

}

.lista-card-categorias img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.lista-card-categorias div {
    position: relative;
}

.lista-card-categorias span {
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: var(--laranja);
    color: #ffffff;
    padding: 0px 20px;
    font-size: 12px;
    border-radius: 15px;
}

.lista-card-servicos {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.lista-card-servicos img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}


.card-servicos{
    width: calc(33.33% - 30px);
}














/* estilo mobile*/

@media(max-width: 767px){
    #botao-menu-mobile{
       display: block;
       padding: 10px;
       cursor: pointer;
       font-size: 18px;

    }

    #menu{
        position: absolute;
        background-color: #ffffff;
        width: 250px;
        height: 100vh;
        top: 65;
        z-index: 99999;
        box-shadow: 2px 5px 5px #2f2f2f;
    }

    #menu ul{
        margin-top: 30px;
        display: block;
    }

    #menu li{
        padding: 10px0;
    }
    
}


